@import 'nib/vendor'
@import "input"
@import "form"
@import "botones"
@import "modal"

vendor-prefixes = o ms moz webkit

sizing()
	box-sizing border-box	
body
	background #eee
	// background-image url("../imagenes/LOGOCOLOR.jpg")
	// background-repeat no-repeat
	// background-position center
	// background-attachment fixed
	font-size 16px