form 
	border  thin solid black
	overflow hidden
	.cargos
		height 5em
		section 
			display inline
		.conceptoCargo
			div
				border 0
				display inline
				overflow hidden
	.enviar
		background red			
	div
		background white
		border  thin solid black
		margin 1em 2.5em
		overflow hidden
		.cuartos
			border 0
			float left
			margin-right .5em
			margin-left 1em
			padding-left 0
			sizing()
			width 16.5em
		.habitaciones
			border-left 0
			float left
			margin 0
			border 0
			padding 0
			overflow hidden
			sizing()
			section
				padding 0
				border 0
				sizing()
				overflow hidden
		.personas
			display inline-block
			float left
			margin-left .5em
			margin-right 0
			margin-top .2em
			width 25em
			border 0
			div
				border 0
				margin-left 0em
				margin-top 0em
				width 25em
				label
					margin-left .1em
				select
					margin-right 3.5em
					&:nth-child(even)
						margin-right 3em
			span
				display inline
				margin-right 1.5em
			label
				padding .5em
				margin-right .5em
				margin-bottom 5em
				&:nth-child(odd)
					padding-left 1.9em
					margin-left 2em
			select
				width 3em
				&:nth-child(odd)
					margin-right 3.5em
					margin-left .3em
		.edades
			display inline-block
			margin-left 3em
			margin-right 3em
			width 17.5em
			section
				margin-top .5em
				margin-bottom .8em
				overflow hidden
			strong 
				display block
				margin-right 5em
				width 5em
				
			span 
				display inline
				margin-right 1em
		.tamañoCuarto
			color red
			width 5em
			display inline-block
			margin-left 15em
			padding-left 5em
		
		.totalCliente
			#totalCliente
				margin-right 2em
			label
				margin-left 30%
		.totalSolatino
			margin-left 20%
	
	.formaPago
		.formas
			overflow hidden
			div
				border 0
				margin-left .5em
				margin-right 0
				width 32%
				float left
				label					
					margin-left 0
				input 
					display block
					margin-left 9em
					margin-top .5em	
	.datosAgencia
		div
			border 0
			float left
			margin-bottom 0
			width 43%
			div
				input
					margin .3em 0 .3em 5em
					height 1em
		.datos_hotel
			float left
			label
				&:nth-child(1)
					margin-left 3.5em

	label
		margin 2em 1em 0 2.5em
	label
	input
	select
		margin-top 1.5em
	input
	select
		font-size 1em
		height 1.5em

strong
	height 20px
	display inline-block
	font-size 16px
	overflow hidden
	width 100em