input
	padding 5px	
	border solid 1px #ccc	
	height 1.5em
	sizing()
textarea
	margin-top .3em	
	margin-bottom 2em
#oberservaciones
	margin-top 2em
.extra-long-text
	width 30em
.long-text
	width 18em	
.small-text
	width 4em